

body,
form,
fieldset,
legend,
input,
select,
textarea,
button {
    margin: 10px;
}

* {
  font-family: 'Montserrat','Open Sans', 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat','Open Sans', 'Helvetica', sans-serif;

}

div.left input,  div.left input#bigHeadline {
  font-size: 25px;
}

div.left input, div.left textarea, div.left select {
  border-color: #999;
}


p {
  font-size: 16px;
  margin:  5px 0px 20px 0px;
  font-family: 'Times New Roman', 'Georgia', serif;
}


button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.button {
    border: 0;
    padding: 1em 2em;
    background-color: #e74b3c;
    color: #fff;
    text-decoration: none;
    position: relative;
    min-width: 150px;
    margin-bottom: 4px;
}



.button:hover {
    background-color: #f43f3f;
}

.button:active {
    top: 1px;
}

.grey-button {
    background-color: #eee;
    color: #434343;
}

.grey-button:hover {
    background-color: #f1f1f1;
}
.blue-button {
    background-color:#007aff;
}

.blue-button:hover {
    background-color:#118bff;
}

.button[disabled],
.button.disabled {
    color: #999;
    background-color: #f1f1f1;
}

.button-unstyled {
    font-size: 16px;
    font-size: 1rem;
    color: #27ae61;
    text-decoration: underline;
    border: 0;
    background: transparent;
    height: auto;
    padding: 0;
    cursor: pointer;
    outline: 0;
}

.button-unstyled:hover {
    text-decoration: none;
}

.button-unstyled[disabled],
.button-unstyled.disabled {
    text-decoration: none;
    color: #999;
    background-color: #ccc;
}



textarea.mdhtmlform-md {
  height: 200px;
}

div#sticky_toolbar {
  background-color: white;
}

div#skybox div.control {
  float: left;
}

div#skyboxMessage {
  clear: both;
}


div.left, div.right {

  min-width: 360px;
  width: 50%;
  float: left;
}


@media (min-width: 721px) {
  div.left, div.right {
    height: 100vh;
    overflow: scroll;
  }
}

@media (max-width: 720px) {
  div.left, div.right {
    width: 100%;
  }

}






textarea.mdhtmlform-md {
  min-height: 50px;  }
textarea.codeGenerator {
  min-height: 50px; }
input, textarea {
  margin-top: 3px; }

div.mdhtmlform-html, div.generatedCode {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #ededed;
  width: 90%;

}

div.border {
  padding: 10px;
  border: 1px solid black;
  max-width: 300px;
}

textarea {
  resize: vertical;
  background-color: white;
}


#bigHeadline {
  font-size: 14px;
}

textarea, input {
  width: 90%;
  border: 1px solid #ededed;

}


pre {
  border: 1px solid #ededed;
  background-color:#ededed;
  /*font-size: 12px;*/
  font-family: Lucidatypewriter, Courier New, Courier, monospace;
  overflow: hidden;
  padding: 5px;
  border-radius: 10px;
}


.left h4 {
  clear: both;
}
